@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');
@import url('https://fonts.googleapis.com/css?family=Philosopher:700i');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cabin', 'Arial', sans-serif;
	background-color: #FFF3B4;
	font-size: 18px;
}

header {
	background-color: rgba(255,255,255,0.9);
    padding: 1.25%;
}

h1 {
	font-family: 'Cinzel Decorative', 'Baskerville', serif;
	font-size: 4em;
	font-weight: 700;
	text-align: left;
	padding: 0.9%;
	color: #153B1B;
	float: left;
	text-shadow: .04em .04em .04em rgba(255,168,82,0.6);
}

h2 {
	font-family: 'Philosopher', 'Arial', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
	text-align: left;
	color: rgba(43,30,20,1);
	margin-left: 1%;
	padding: 0.3%;
	float: left;
}

h3 {
	float: left;
}

h4 {
	float: left;
}

nav {
		font-size: 1.25em;
		font-weight: 700;
		display: block;
		background-color: rgba(255,255,255,0.6);
		border: 0.2em solid rgba(255,168,82,0.7);
		width: 100%;
		padding: 0;
		margin: 0.5% 0 3%;
		float: left;
}

li {
	list-style-type: none;
	padding: 0.5%;
	display: block;
	width: 16.666%;
	margin: 0;
	float: left;
	text-align: center;
}

li:hover {
	background-color: rgba(255,255,255,0.9);
	border: 0.12em solid rgba(43,30,20,0.8);
}

main {
	display: block;
	margin: auto;
}

img {
	border: .2em solid rgba(43,30,20,0.9);
}

footer a:hover {
	color: rgb(255,168,82);
}

footer {
    padding: 1.25%;
    display: block;
    text-align: center;
   	background-color: rgba(255,255,255,0.9);
   	border-top: .2em solid rgba(43,30,20,0.9);
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgba(43,30,20,1);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.itemInfo {
	background: rgba(255,255,255,0.5);
	float: left;
}

.reviewSection {
	display: none;
}

#paintingTitle {
	float: left;
	width: 100%;
}

#itemType {
	float: left;
	width: 100%;
}

#price {
	float: left;
	width: 50%;
	font-size: 1.2em;
	margin: 0.13%;
}

#itemSpec {
	display: block;
	float: left;
	width: 50%;

}

#order {
	float: left;
	display: block;
	width: 100%;
}

#itemDescription {
	display: block;
	max-width: 50ch;
	float: left;
}

#headerhr {
	border: none;
	height: .2em;
	background-color: rgba(43,30,20,0.9);
	width: auto;
}

#piney_point_one {
	width: 20%;
	display: block;
	float: left;
	margin-left: 18.5%;
}

#reviewToggle {
	float: left;
}

#copyright {
	text-align: center;
}